@import url('https://fonts.googleapis.com/css?family=Quattrocento&display=swap');

.body {
	text-align: center;
	margin: auto;
	margin-top: 75px;
	width: 75%;
	max-width: 600px;
	box-shadow: 0px 3px 15px rgba(64, 63, 76, 0.2);
	border-radius: 10px;
	background-color: white;
}

.body h1 {
	font-size: 50px;
	font-weight: 600;
	color: #9acd34;
	padding-top: 10px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	margin-bottom: 0;
}

form {
	text-align: left;
	padding: 25px;
	margin: auto;
	margin-bottom: 25px;
}

label {
	font-family: 'Quattrocento', serif;
}

input,
textarea {
	width: 100%;
	border-radius: 2px;
	border: 1px solid #cc5500;
	resize: none;
	outline: none;
}

.textbox {
	padding: 8px;
}

.form-section {
	margin-top: 10px;
	margin-bottom: 10px;
}

.recipe-difficutly-radio {
	display: inline-block;
}

.button {
	text-align: center;
}

.new-button {
	padding: 20px;
	margin-top: 25px;
	border: none;
	text-decoration: none;
	background-color: #cc5500;
	font-family: 'Quattrocento', serif;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	cursor: pointer;
}

.new-button:hover {
	color: #f05d5e;
	background-color: #f9f7f7;
}

.recipe-time-radio {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	position: relative;
	background-color: #f1f1f1;
	color: #666;
	top: 10px;
	height: 25px;
	width: 25px;
	border: 0;
	border-radius: 50px;
	cursor: pointer;
	margin-right: 7px;
	outline: none;
}
.recipe-time-radio:checked::before {
	position: absolute;
	font: 18px/1 'Open Sans', sans-serif;
	left: 8px;
	top: 2px;
	content: '\02143';
	transform: rotate(40deg);
	color: #403f4c;
}
.recipe-time-radio:hover {
	background-color: #f7f7f7;
}

label {
	font: 16px 'Open Sans', sans-serif;
	color: #333;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}
