.image {
  height: 90vh;
  background: url("https://images7.alphacoders.com/977/thumb-1920-977986.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: scroll;
}
