body {
	background: rgb(180, 179, 179);
}

.searchbar {
	position: relative;
	margin: 0 auto;
	height: 60px;
	min-width: 200px;
}
@media (min-width: 768px) {
	.searchbar {
		width: 70%;
		height: 40px;
		overflow: hidden;
	}
}
@media (min-width: 1100px) {
	.searchbar {
		width: 50%;
	}
}

.searchbar--input,
.searchbar--buttons {
	top: 0;
	right: 0;
}
@media (min-width: 768px) {
	.searchbar--input,
	.searchbar--buttons {
		position: absolute;
	}
}

.searchbar--input,
.searchbar--select,
.searchbar--submit {
	border: none;
	outline: none;
}

.searchbar--input {
	width: 100%;
	padding: 20px 0 20px 10px;
	height: 60px;
	font-size: 16px;
}
@media (min-width: 768px) {
	.searchbar--input {
		height: 40px;
	}
}

.searchbar--submit,
.searchbar--select {
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
}

.searchbar--submit {
	width: 80px;
	height: 50px;
	padding: 0;
	margin: 5px;
	line-height: 32px;
	display: block;
	float: right;
	font-size: 14px;
	letter-spacing: 0.5px;
	border-radius: 4px;
	color: #000;
}
@media (max-width: 767px) {
	.searchbar--submit {
		width: 36%;
	}
}
@media (min-width: 768px) {
	.searchbar--submit {
		height: 30px;
	}
}

.searchbar--select {
	height: 50px;
	margin: 5px 0;
	padding: 0 40px 0 20px;
	border-radius: 0;
	color: #000;
	letter-spacing: 0.25px;
}
@media (max-width: 767px) {
	.searchbar--select {
		width: 100%;
	}
}
@media (min-width: 768px) {
	.searchbar--select {
		height: 30px;
	}
}

.select-wrapper {
	position: relative;
	float: right;
}
@media (max-width: 767px) {
	.select-wrapper {
		width: 60%;
	}
}
.select-wrapper:after {
	content: '>';
	font: 18px 'Consolas', monospace;
	color: #000;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 20px;
	bottom: 19px;
	vertical-align: center;
	padding: 0 0 2px;
	position: absolute;
	pointer-events: none;
}
@media (min-width: 768px) {
	.select-wrapper:after {
		top: 10px;
	}
}
