p {
	margin: 0;
	padding: 0 10px;
}

.home {
	color: white;
	font-family: 'Mitr', sans-serif;
}

.home :hover {
	color: #a81d1d;
}

@media (max-width: 500px) {
	.home {
		font-size: 15px;
	}
}

@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
/* Mixins */
/* Base Styles */
* {
	box-sizing: border-box;
}

html,
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	max-width: 750px;
	padding: 0 24px;
}

header {
	animation: bgFadeIn 1s ease-in both;
	position: relative;
	padding: 28px;
	text-align: center;
}
header:before {
	background: linear-gradient(
			to bottom right,
			rgba(84, 249, 227, 0.3),
			rgba(255, 91, 184, 0.5)
		),
		url('https://www.windsorballroom.com/wp-content/uploads/2019/01/2018-02-27TuscanyTable025.jpg');
	background-color: #cccccc;
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	bottom: 0;
	content: ' ';
	left: 0;
	height: 60vh;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
@keyframes bgFadeIn {
	0% {
		background-color: white;
	}
	100% {
		background-color: rgba(255, 255, 255, 0);
	}
}
header .container {
	margin: 12rem auto;
}
header h1 {
	border-bottom: 2px solid #ffffff;
	border-top: 2px solid #ffffff;
	color: #ffffff;
	font-family: 'Amatic SC', cursive;
	font-size: 8.75rem;
	margin: 0;
}
header h3 {
	color: #fff0a5;
	font-family: 'Abril Fatface', cursive;
	font-size: 3.75rem;
	font-style: italic;
	font-weight: 100;
	margin: 0;
}

section {
	padding: 2rem;
}
section p {
	font-size: 2.5rem;
	line-height: 3.5rem;
}
section p.lead-in {
	font-size: 3rem;
}
section p.lead-in:first-letter {
	font-size: 7.25rem;
	display: block;
	float: left;
	position: relative;
	line-height: 0.1;
	top: -0.2em;
}

nav {
	display: flex;
	justify-content: flex-end;
}

nav h1 {
	align-self: flex-start;
	background-color: red
}

/* background: rgba(84, 249, 227, 1);
background: -webkit-linear-gradient(
	top left,
	rgba(84, 249, 227, 1),
	rgba(255, 91, 184, 1)
);
background: -moz-linear-gradient(
	top left,
	rgba(84, 249, 227, 1),
	rgba(255, 91, 184, 1)
);
background: linear-gradient(
	to bottom right,
	rgba(84, 249, 227, 1),
	rgba(255, 91, 184, 1)
); */
